/*To use Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



/*body全体*/
body {
    font-size: 2rem;
    margin: 0 auto;
    min-height: 100vh; /*100vhはページと同じ高さ。min-height: 100vhとするとスクロールできない？*/
    display: grid;
    grid-template:
        "... ...... ..."
        "... header ..." 50px
        "... ...... ..."
        "... center ..." 1fr /*縦の長さを引き伸ばす。frは比率を指定可*/
        "... ...... ..."
        "... footer ..." 50px
        "... ...... ..."
        / auto 1fr auto;　/*minmaxとか使うと良いかも*/
}



/*header*/
header {
    grid-area: header;
    background: rgb(75, 102, 182);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: white;
    padding: 0.5rem 1rem 0.5rem 1.5rem;
}



/*main*/
main {
    grid-area: center;
    background: rgb(230, 209, 192);
    display: grid;
    grid-template: 
        "... ..... ..... ..... ..... ..... ..."
        "... itemA ..... itemB ..... itemC ..." 200px
        "... itemA ..... ..... ..... ..... ..."
        "... itemA ..... itemD ..... itemE ..." 200px
        "... ..... ..... ..... ..... ..... ..."
        / auto 2fr auto 1fr auto 1fr auto;
}
/*grid area in main*/
.itemA {
    grid-area: itemA;
    justify-self: center;
    text-align: center;
}
.itemB {
    grid-area: itemB;
}
.itemC {
    grid-area: itemC;
}
.itemD {
    grid-area: itemD;
}
.itemE {
    grid-area: itemE;
}
/*itemA*/
.myname {
    font-size: 30px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #444444;
    line-height: 0.7;
}
.belonging {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: #666666;
    line-height: 0.3;
}
ul.network-icon {
    display: inline-flex;   /*iconを横に並べる*/
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
ul.network-icon li {
    margin-right: 0.5rem;   /*icon同士の間隔を開ける*/
    margin-left: 0.5rem;   /*icon同士の間隔を開ける*/
}
.igmail, .itwit, .igs, .igh {
    color: rgb(75, 102, 182);
}
/*itemB-E*/
main > a {
    display: inline-block; /*インライン要素のリンクをインラインブロックに変更してる*/
    padding: 1rem 2rem;
    line-height: 1;
    width: 10rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: rgb(75, 102, 182);
    text-decoration: none;
    border-radius: 3px; /* 角丸設定 */
}
main > a:hover {
    background-color: #3390db;
}



/*footer*/
footer {
    grid-area: footer;
    background: rgb(75, 102, 182);
}



/*responcible screen*/
@media screen and (max-width: 700px) {
    header {
        position: fixed;
        width: 100vw;
    }
    main {
        grid-template:
            "....." 0.5fr
            "itemA" 4fr
            "....." 0.5fr
            "itemB" 1fr  
            "itemC" 1fr
            "itemD" 1fr
            "itemE" 1fr;
    }
    main > a {
        width: 50vw;
    }
}