/*body全体*/
body {
    font-size: 2rem;
    /*width: 800px;*/
    margin: 0 auto;
    min-height: 100vh; /*100vhはページと同じ高さ*/
    display: grid;
    grid-template:
        "... ...... ...... ...... ...... ...... ..."
        "... header header header header header ..." 70px
        "... ...... ...... ...... ...... ...... ..."
        "... left   ...... center ...... right  ..." 1fr /*縦の長さを引き伸ばす。frは比率を指定可*/
        "... ...... ...... ...... ...... ...... ..."
        "... footer footer footer footer footer ..." 50px
        "... ...... ...... ...... ...... ...... ..."
        / auto 0px auto 1fr auto 2fr auto;　/*minmaxとか使うと良いかも*/
}

/*header*/
header {
    grid-area: header;
    background: rgb(75, 102, 182);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: white;
    padding: 1rem 1rem 1rem 3rem;
}

/*main*/
main {
    grid-area: center;
    background: rgb(230, 209, 192);
    padding: 1rem;
    text-align: center;
}

.avatar {
}

.myname {
    /*text-align: center;*/
    font-size: 30px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #444444;
    line-height: 0.7;
}

.belonging {
    /*text-align: center;*/
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: #666666;
    line-height: 0.3;
}

/*left column*/
nav {
    grid-area: left;
    background: rgb(214, 193, 176);
}

/*right column*/
aside {
    display: flex; /*アイテムをいろんな位置に移動できる。gridでもできる？*/
    flex-direction: column; /*flex*/
    justify-content: space-between; /*flex*/
    grid-area: right;
    background: rgb(214, 193, 176);
    padding: 1rem 1rem 1rem 1rem;
}

.btn{
    display: inline-block; /*インライン要素のリンクをインラインブロックに変更してる*/
    padding: 1rem 2rem;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: rgb(75, 102, 182);
    text-decoration: none;
    border-radius: 3px; /* 角丸設定 */
}
.btn:hover{
    background-color: #3390db;
}

/*footer*/
footer {
    grid-area: footer;
    background: rgb(75, 102, 182);
}

/*responcible*/
@media screen and (max-width: 700px) {
    body {
        grid-template:
            "header" 70px
            "center" 1fr  /*引き伸ばすのでfr*/
            "left  " 0px
            "right "      /*高さ指定しなければコンテンツの高さになる*/
            "footer" 50px;
    }
}